body{
    margin:0;
    overflow:hidden;
}

.desktop{
    width:100vw;
    height:100vh;
    position:relative;
    background-image:url("https://i.pinimg.com/736x/3c/b4/10/3cb4109fbdde5bddb610e1e9bf6d1a05.jpg");
    background-size:100% auto;
    background-position:center;
    background-repeat:no-repeat;
}

.gradient{
    position:absolute;
    inset:0;

    background:linear-gradient(
        to bottom,
        rgba(190,160,230,.18),
        rgba(15,35,120,.55)
    );
    pointer-events:none;
}


.desktop-icons{
    position:absolute;
    inset:0;
}

.desktop-icon{
    position:absolute;
    width:80px;
    text-align:center;
    color:#fff;
    font-family:"VT323", monospace;
    font-size:22px;
    text-shadow:1px 1px 3px #222;
    cursor:pointer;
    user-select:none;
}

.desktop-icon img{
    width:48px;
    height:48px;
    display:block;
    margin:0 auto 6px;
    object-fit:contain;
}


.folder{
    top:35px;
    left:35px;
}

.winamp{
    top:135px;
    left:35px;
}

.photos{
    top:235px;
    left:35px;
}

.saves{
    top:335px;
    left:35px;
}

.internet{
    top:435px;
    left:35px;
}

.recycle{
    bottom:70px;
    right:35px;
}

.taskbar{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:48px;
    background:#6D7ABD;
    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:4px 8px;
    box-sizing:border-box;
}


.start-button{
    display:flex;
    align-items:center;
    gap:6px;
    height:32px;
    padding:2px 10px 2px 5px;
    background:#6D7ABD;
    color:white;
    font-family:"Silkscreen", sans-serif;
    font-size:13px;
    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;
    cursor:pointer;
}

.start-button:active{
    transform:translate(2px,2px);
    border-top:2px solid #3f4975;
    border-left:2px solid #3f4975;
    border-right:2px solid #aeb8ee;
    border-bottom:2px solid #aeb8ee;
}

.start-button img{
    width:45px;
    height:45px;
    object-fit:contain;
}


.date{
    color:white;
    font-family:"VT323", monospace;
    font-size:18px;
    text-shadow:1px 1px #49558d;
}

.party-window{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    height: 250px;
    background:#6D7ABD;
    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;
    box-shadow:4px 4px 12px rgba(0,0,0,.35);
    color:white;
}

.recycle-window{
    display:none;

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    width:730px;

    min-height:400px;

    background:#6D7ABD;

    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;

    box-shadow:4px 4px 12px rgba(0,0,0,.35);

    color:white;

    flex-direction:column;
}

.party-title,
.recycle-title{
    padding:6px 8px;
    background:rgba(15,35,120,.35);
    font-family:"Silkscreen", sans-serif;
    font-size:13px;
}

.party-message{
    padding:30px 15px;
    text-align:center;
    font-family:"VT323", monospace;
    font-size:24px;
}

.recycle-content {
    padding: 25px;
    font-family: "VT323", monospace;
    font-size: 26px;
}

.file-header,
.file-row {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    font-weight: normal;
    font-size: 18px;
}

.file-header {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin-bottom: 10px;
    font-size: 22px;

}

.party-window button{
    display:block;
    margin:60px auto;
    width:70px;
    height:28px;
    background:#6D7ABD;
    color:white;
    font-family:"VT323", monospace;
    font-size:18px;
    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;
    cursor:pointer;
}

.recycle-window button{
    display:block;
    margin: auto auto 20px;
    width:70px;
    height:28px;
    background:#6D7ABD;
    color:white;
    font-family:"VT323", monospace;
    font-size:18px;
    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;
    cursor:pointer;
}

.party-window button:active,
.recycle-window button:active{
    transform:translate(2px,2px);
    border-top:2px solid #3f4975;
    border-left:2px solid #3f4975;
    border-right:2px solid #aeb8ee;
    border-bottom:2px solid #aeb8ee;
}


.saves-window{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:730px;
    min-height:400px;
    background:#6D7ABD;
    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;
    box-shadow:4px 4px 12px rgba(0,0,0,.35);
    color:white;
    flex-direction:column;
}


.saves-title{
    padding:6px 8px;
    background:rgba(15,35,120,.35);
    font-family:"Silkscreen", sans-serif;
    font-size:13px;
}


.saves-content{
    padding:25px;
    font-family:"VT323", monospace;
    font-size:26px;
}


.saves-window button{
    display:block;
    margin:auto auto 20px;
    width:80px;
    height:28px;
    background:#6D7ABD;
    color:white;
    font-family:"VT323", monospace;
    font-size:18px;
    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;
    cursor:pointer;
}


.saves-window button:active{
    transform:translate(2px,2px);
}


.photos-window{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:600px;
    min-height:450px;
    background:#6D7ABD;
    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;
    box-shadow:4px 4px 12px rgba(0,0,0,.35);
    color:white;
    flex-direction:column;
}


.photos-title{
    padding:6px 8px;
    background:rgba(15,35,120,.35);
    font-family:"Silkscreen", sans-serif;
    font-size:13px;
}


.photo-viewer{
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
}


.photo-viewer img{
    max-width:520px;
    max-height:320px;
    object-fit:contain;
}


.photo-controls{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:15px;
}


.photos-window button{
    width:70px;
    height:28px;
    background:#6D7ABD;
    color:white;
    font-family:"VT323", monospace;
    font-size:18px;
    border-top:2px solid #aeb8ee;
    border-left:2px solid #aeb8ee;
    border-right:2px solid #3f4975;
    border-bottom:2px solid #3f4975;
}